# {{ ansible_managed }}

[INCLUDES]

after = iptables-blocktype.local
        iptables-common.local

[Init]

chain = INPUT

name = default

port = ssh

protocol = tcp

blocktype = DROP

returntype = RETURN

lockingopt = -w

iptables = iptables <lockingopt>
