[DEFAULT]
# Ban hosts for one hour:
bantime = {{ fail2ban_bantime }}
maxretry = {{ fail2ban_maxretry }}

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport

[sshd]
enabled = true
logencoding = utf-8

{% if gsisshd_fail2ban is defined %}
[gsisshd]
enabled = true
logencoding = utf-8
{% endif %}
