{
    "DEBUG": true,
    "CACHE_SERVER": false,
    "ALLOWED_HOSTS": ["*"],
    "DB_DATABASE": "ed_dgpf",
    "DB_HOSTNAME_READ": "{{ AMAZON_RDS_HOST_PROD }}",
    "DB_HOSTNAME_WRITE": "{{ AMAZON_RDS_HOST_PROD }}",
    "DJANGO_USER": "ed_dgpf1user",
    "DJANGO_PASS": "{{ DJANGO_PASS }}",
    "DJANGO_SECRET_KEY": "{{ DJANGO_SECRET_KEY }}",
    "SOCIAL_AUTH_GLOBUS_KEY": "{{ SOCIAL_AUTH_GLOBUS_KEY }}",
    "SOCIAL_AUTH_GLOBUS_SECRET": "{{ SOCIAL_AUTH_GLOBUS_SECRET }}",
    "STATIC_ROOT": "{{ app_home }}/www/static",
    "G2_LOG": "{{ app_home }}/var/{{ app_runtime_name }}.log",
    "DB_LOG": "{{ app_home }}/var/{{ app_runtime_name }}.db.log",
    "SYSLOG_SOCK": "/dev/log",
    "API_BASE": "/{{ app_runtime_name }}",
    "SUB_SITE": "{{ app_runtime_name }}/",
    "APP_LOG": "{{ app_home }}/var/{{ app_runtime_name }}.log",
    "APP_VERSION": "v0.7.x"
}
