[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-admin = "*"
django-globus-portal-framework = "*"
#globus-cli = "*"
#globus-sdk = "*"
psycopg2 = "==2.9.*"
pytz = "*"
gunicorn = "==20.1.*"

[requires]
python_version = "3.10"
