# {{ ansible_managed }}

Protocol {{ sshd_admin_protocol }}
Port {{ sshd_admin_port }}

UsePrivilegeSeparation {{ sshd_admin_useprivilegeseparation }}

{% for value in sshd_admin_hostkey %}
HostKey {{ value }}
{% endfor %}

LogLevel {{ sshd_admin_loglevel }}


SyslogFacility {{ sshd_admin_syslogfacility }}
RSAAuthentication {{ sshd_admin_rsaauthentication }}
PermitRootLogin {{ sshd_admin_permitrootlogin }}
PasswordAuthentication {{ sshd_admin_passwordauthentication }}
HostbasedAuthentication {{ sshd_admin_hostbasedauthentication }}
IgnoreUserKnownHosts {{ sshd_admin_ignoreuserknownhosts }}
IgnoreRhosts {{ sshd_admin_ignorerhosts }}
ChallengeResponseAuthentication {{ sshd_admin_challengeresponseauthentication }}
UsePAM {{ sshd_admin_usepam }}

{% for value in sshd_admin_acceptenv %}
AcceptEnv {{ value }}
{% endfor %}


X11Forwarding {{ sshd_admin_x11forwarding }}
X11UseLocalhost {{ sshd_admin_x11uselocalhost }}


ClientAliveInterval {{ sshd_admin_clientaliveinterval }}
ClientAliveCountMax {{ sshd_admin_clientalivecountmax }}

Banner {{ sshd_admin_banner }}
Subsystem {{ sshd_admin_subsystem }}

AllowUsers {{ sshd_admin_allowusers }} {{ sshd_admin_server_ops_staff }}


DenyUsers {{ sshd_admin_denyusers }}

PubkeyAuthentication {{ sshd_admin_pubkeyauthentication }}
{{ sshd_admin_matchusers }}
